<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.pretzel_admin.ko.mapper.DashBoardMapper">

  <!-- 로그인(관리자상세) -->
  <select id="admin_detail" resultType="AdminVO">
    select * from admins where admin_id = #{admin_id}
  </select>

  <!-- 구독별 카운트 -->
  <select id="sub_count" resultType="SubCountVO">
    SELECT COALESCE(subs, 'null') AS subs, COUNT(*) AS count
    FROM users
    WHERE status = 1
    GROUP BY subs
  </select>

  <!-- 월별 유저수 -->
   <select id="month_count" resultType="MonthCountVO">
     SELECT DATE_FORMAT(regdate, '%Y-%m') AS month, COUNT(*) AS count 
     FROM users 
     WHERE <!-- 3개월 전 1일보다 크고, 현재달 1일보다 작은 -->
      regdate &gt;= DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 3 MONTH), '%Y-%m-01')
      AND regdate &lt; DATE_FORMAT(CURDATE(), '%Y-%m-01')
     GROUP BY month 
     ORDER BY month
   </select>

  <!-- 장르별 카운트 -->
  <select id="thema_count" resultType="ThemaCountVO">
    select thema, count(*) as count 
    from movies 
    group by thema
  </select>
    
  <!-- 시청률 순 상위 10개 -->
  <select id="top_view" resultType="MovieVO">
    select * from movies
    order by watch_stack desc 
    limit 10
  </select>


</mapper>
