<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ict.pretzel_admin.ko.mapper.ReportManagerMapper">

  <!-- 신고 개수 -->
  <select id="total_report">
    select count(*) from reports
  </select>

  <!-- 신고 리스트 -->
  <select id="report_list" parameterType="Paging" resultType="ReportVO">
    SELECT r.*, rev.content
    FROM reports r
    JOIN reviews rev ON r.review_idx = rev.review_idx
    order by r.status desc, r.report_idx
    limit #{numPerPage} offset #{offset}
  </select>

  <!-- 미처리 신고 개수 -->
  <select id="report_count" resultType="int">
    select count(*) from reports where status = 1
  </select>

  <!-- 신고 상세 -->
  <select id="report_detail" resultType="ReportVO">
    select * from reports where report_idx = #{report_idx}  
  </select>

  <!-- 신고당한 리뷰 -->
  <select id="reported_review" resultType="ReviewVO">
    SELECT r.*, m.korea_title
    FROM reviews r
    JOIN movies m ON r.movie_idx = m.movie_idx
    WHERE r.review_idx = #{review_idx}
  </select>

  <!-- 신고 처리 -->
  <update id="report_ok" parameterType="ReportVO">
    update reports 
    set status = #{status}, admin_id = #{admin_id} 
    where report_idx = #{report_idx}
  </update>


</mapper>
